*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
gradle
gradlew
gradlew.bat
.externalNativeBuild
.cxx
androidTest/
Test/
authpack.java
src/main/assets/beauty_bytedance
src/main/assets/beauty_faceunity
src/main/assets/beauty_sensetime
!src/main/assets/beauty_bytedance/PLACEHOLDER
!src/main/assets/beauty_faceunity/PLACEHOLDER
!src/main/assets/beauty_sensetime/PLACEHOLDER
/libs