<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>developer-id</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.agora.api.examples</key>
		<string>apiexamplemac</string>
	</dict>
	<key>signingCertificate</key>
	<string>35CC30DFC3AA90845718DE3E28DFD32DB1A672BF</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>YS397FG5PA</string>
</dict>
</plist>
