/build
/libs
/src/main/assets
/src/main/jniLibs

!/libs/PLACEHOLDER
!/src/main/assets/PLACEHOLDER
!/src/main/jniLibs/PLACEHOLDER
!/src/main/jniLibs/armeabi-v7a/PLACEHOLDER
!/src/main/jniLibs/arm64-v8a/PLACEHOLDER